<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ApiModuleMapper" >
  <select id="selectModByNameAndFa" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.ApiModule">
    select * from `api_module` where
    project_id = #{projectId}
    <if test="parentId != null and parentId != ''">
      and parent_id = #{parentId}
    </if>
    and name = #{name}
  </select>

  <insert id="insertModule" parameterType="com.lakinm.op.model.entity.ApiModule">
    INSERT INTO `api_module` (`id`, `name`, `parent_id`, `project_id`, `update_user`, `create_user`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{parentId}, #{projectId}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateModuleById" parameterType="com.lakinm.op.model.entity.ApiModule">
    UPDATE `api_module` SET `name` = #{name}, `parent_id`= #{parentId}, `update_user` = #{updateUser}, `update_time` = #{updateTime}
    WHERE `id` = #{id}
  </update>

  <select id="selectModByIdAndParId" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Module">
    select * from `api_module` where id = #{mid}
    <if test="parentId != null and parentId != ''">
      and parent_id = #{parentId}
    </if>
    and project_id = #{projectId}
  </select>

  <select id="selectModByProId" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Module">
    select * from `api_module` where project_id = #{projectId} and parent_id is not null
  </select>

  <delete id="deleteModuleByIds" parameterType="java.util.List">
    delete from `api_module`
    where id in
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
      #{item.id}
    </foreach>
  </delete>

  <select id="selectModuleDTOByProId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ModuleDTO">
    select `id`, `name`, `parent_id`, `project_id`, `create_user`, `create_time`, `name` as label
    from `api_module`
    <if test="projectId != null and projectId != ''">
      where project_id = #{projectId}
    </if>
  </select>

  <select id="selectChildModuleDTOByProId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ModuleDTO">
    select `id`, `name`, `parent_id`, `project_id`, `create_user`, `create_time`, `name` as label
    from `api_module` where
    parent_id is not null
    <if test="projectId != null and projectId != ''">
      and project_id = #{projectId}
    </if>
  </select>
</mapper>