<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.CaseApiMapper" >
  <delete id="deleteApiByCaseId" parameterType="java.lang.String">
    delete from `case_api` where case_id = #{id}
  </delete>

  <insert id="insertApiCase" parameterType="java.util.List">
    INSERT INTO `case_api`(`id`, `index`, `case_id`, `api_id`, `header`, `body`, `query`, `rest`,
    `assertion`, `relation`, `controller`)
    VALUES
    <foreach collection="caseApis" item="item" separator=",">
      (#{item.id}, #{item.index}, #{item.caseId}, #{item.apiId}, #{item.header}, #{item.body}, #{item.query}, #{item.rest},
      #{item.assertion}, #{item.relation}, #{item.controller})
    </foreach>
  </insert>

  <select id="selectCaseApis" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.CaseApiDTO">
    select a.id, a.`index`, a.case_id, a.api_id, a.header, a.body, a.`query`, a.rest, a.assertion, a.relation, a.controller,
    b.`name` as apiName, b.path as apiPath, b.method as apiMethod, b.protocol as apiProtocol, b.domain_sign as apiDomainSign
    from case_api a
    left join api b
    on a.api_id = b.id
    where a.case_id = #{caseId} order by a.index
  </select>
</mapper>