<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.CaseWebMapper" >
  <delete id="deleteWebByCaseId" parameterType="java.lang.String">
    delete from `case_web` where case_id = #{id}
  </delete>

  <insert id="insertWebCase" parameterType="java.util.List">
    INSERT INTO `case_web`(`id`, `index`, `case_id`, `operation_id`, `element`, `data`)
    VALUES
    <foreach collection="caseWebs" separator="," item="item">
      (#{item.id}, #{item.index}, #{item.caseId}, #{item.operationId}, #{item.element}, #{item.data})
    </foreach>
  </insert>

  <select id="selectCaseWebs" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.CaseWebDTO">
    select a.id, a.`index`, a.case_id, a.operation_id, a.element, a.data, b.`name` as operationName, b.`type` as operationType
    from case_web a left join operation b on a.operation_id = b.id
    where a.case_id = #{caseId} order by a.index
  </select>
</mapper>