<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.CaseMapper" >
  <insert id="insertCase" parameterType="com.lakinm.op.model.entity.Case">
    INSERT INTO `case`(`id`, `num`, `name`, `level`, `module_id`, `project_id`, `type`, `third_party`, `description`,
    `environment_ids`, `common_param`, `update_user`, `create_user`, `create_time`, `update_time`, `status`)
    VALUES
    (#{id}, #{num}, #{name}, #{level}, #{moduleId}, #{projectId}, #{type}, #{thirdParty}, #{description},
    #{environmentIds}, #{commonParam}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime}, #{status})
  </insert>

  <update id="updateCase" parameterType="com.lakinm.op.model.entity.Case">
    UPDATE `case` SET `name` = #{name}, `level` = #{level}, `module_id` = #{moduleId}, `project_id` = #{projectId},
    `third_party` = #{thirdParty}, `description` = #{description}, `environment_ids` = #{environmentIds},
    `common_param` = #{commonParam}, `update_user` = #{updateUser}, `update_time` = #{updateTime}
    WHERE id = #{id}
  </update>

  <delete id="deleteCaseById" parameterType="java.lang.String">
    delete from `case` where id = #{id}
  </delete>

  <select id="selectCaseDetailById" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.CaseDTO">
    select a.id, a.num, a.`name`, a.`level`, a.module_id as moduleId, a.project_id, a.`name` as moduleName,
    a.type, a.third_party, a.description, a.environment_ids, a.common_param,
    a.create_user, a.update_user, a.create_time, a.update_time
    from `case` a
    left join case_module b
    on b.id = a.module_id
    where a.id = #{caseId}
  </select>

  <select id="selectAllCases" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.CaseDTO">
    SELECT a.id, a.`num`, a.`name`, a.`level`, a.module_id as moduleId, a.project_id as projectId, a.`type`,
    a.description, a.create_user as createUser, a.update_time, a.`status`, b.username as username
    FROM `case` a
    LEFT JOIN `user` b
    on a.create_user = b.id
    where a.project_id = #{projectId}
    and a.`status` != 'del'
    <if test="caseType != null and caseType != ''">
      and a.type = #{caseType}
    </if>
    <if test="moduleId != null and moduleId != ''">
      and a.module_id = #{moduleId}
    </if>
    <if test="condition != null and condition != ''">
      and a.`name` like #{condition}
    </if>
    ORDER BY a.update_time desc, a.`name`
  </select>
</mapper>