<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.CollectionCaseMapper" >
  <insert id="insertObjects" parameterType="java.util.List">
    INSERT INTO `collection_case`(`id`, `index`, `collection_id`, `case_id`)
    VALUES
    <foreach collection="collectionCases" item="item" separator=",">
      (#{item.id}, #{item.index}, #{item.collectionId}, #{item.caseId})
    </foreach>
  </insert>

  <delete id="deleteColByColId" parameterType="java.lang.String">
    delete from `collection_case` where collection_id = #{colId}
  </delete>

  <select id="selectColCasesByColId" parameterType="java.lang.String" resultType="com.lakinm.op.model.vo.CollectionCaseVo">
    SELECT a.id, a.`index`, a.collection_id, a.case_id, b.`type` as case_type, b.`name` as case_name, b.module_id as case_module
    FROM `collection_case` a
    LEFT JOIN `case` b on a.case_id = b.id
    WHERE a.collection_id = #{colId}
  </select>
</mapper>