<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.CollectionMapper" >
  <insert id="insertCollection" parameterType="com.lakinm.op.model.entity.Collection">
    INSERT INTO `collection`(`id`, `name`, `version_id`, `description`, `project_id`, `update_user`, `create_user`,
    `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{versionId}, #{description}, #{projectId}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateCollection" parameterType="com.lakinm.op.model.entity.Collection">
    UPDATE `collection` SET `name` = #{name}, `version_id` = #{versionId}, `description` = #{description},
    `project_id` = #{projectId}, `update_user` = #{updateUser}, `create_user` = #{createUser},
    `create_time` = #{createTime}, `update_time` = #{updateTime} WHERE `id` = #{id}
  </update>

  <delete id="deleteColById" parameterType="java.lang.String">
    delete from `collection` where id = #{colId}
  </delete>

  <select id="selectColDetailById" parameterType="java.lang.String" resultType="com.lakinm.op.model.vo.CollectionVo">
    SELECT a.id, a.`name`, a.version_id, a.description, a.project_id, a.update_user, a.create_user, a.create_time,
    a.update_time, b.username, c.`name` as version_name
    FROM `collection` a
    LEFT JOIN `user` b on a.create_user = b.id
    LEFT JOIN `version` c on a.version_id = c.id
    WHERE a.id = #{id}
  </select>

  <select id="selectCollectionListByCondition" parameterType="java.lang.String" resultType="com.lakinm.op.model.vo.CollectionVo">
    SELECT a.id, a.`name`, a.version_id, a.description, a.project_id, a.create_user, b.username, a.update_time,
    c.`name` as version_name
    FROM `collection` a
    LEFT JOIN `user` b on a.create_user = b.id
    LEFT JOIN `version` c on a.version_id = c.id
    WHERE a.project_id = #{projectId}
    <if test="condition != null and condition != ''">
      and a.name like #{condition}
    </if>
  </select>
</mapper>