<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ElementMapper" >
  <insert id="insertElement" parameterType="com.lakinm.op.model.entity.Element">
    INSERT INTO `element`(`id`, `name`, `module_id`, `project_id`, `by`, `expression`, `description`,
    `update_user`, `create_user`, `create_time`, `update_time`, `status`)
    VALUES
    (#{id}, #{name}, #{moduleId}, #{projectId}, #{by}, #{expression}, #{description}, #{updateUser},
    #{createUser}, #{createTime}, #{updateTime}, #{status})
  </insert>

  <update id="updateElement" parameterType="com.lakinm.op.model.entity.Element">
    UPDATE `element` SET `name` = #{name}, `module_id` = #{moduleId}, `project_id` = #{projectId}, `by` = #{by},
    `expression` = #{expression}, `description` = #{description}, `update_user` = #{updateUser}, `create_user` = #{createUser},
    `create_time` = #{createTime}, `update_time` = #{updateTime} WHERE `id` = #{id}
  </update>

  <delete id="deleteElementById" parameterType="java.lang.String">
    delete from `element` where id = #{id}
  </delete>

  <update id="updateElementStatusById" parameterType="java.lang.String">
    UPDATE `element` SET `status` = 'del' where `id` = #{id}
  </update>

  <select id="selectElementDetailById" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Element">
    select * from `element` where id = #{id}
  </select>

  <select id="selectElementByProIdAndModId" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Element">
    select * from `element` where `project_id` = #{projectId} and `module_id` = #{moduleId} and status != 'del'
  </select>

  <select id="selectElementByCondition" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ElementDTO">
    SELECT
    a.id,
    a.num,
    a.`name`,
    a.module_id,
    b.`name` AS moduleName,
    a.project_id,
    a.`by`,
    a.expression,
    a.description,
    a.`status`,
    a.update_time,
    a.update_user,
    c.username AS username
    FROM
    `element` a
    LEFT JOIN `page_module` b ON a.module_id = b.id
    LEFT JOIN `user` c ON a.update_user = c.id
    WHERE
    a.`status` != 'del'
    <if test = "projectId != null and projectId != ''" >
      AND a.project_id = #{projectId}
    </if>
    <if test = "moduleId != null and moduleId != ''" >
      AND a.module_id = #{moduleId}
    </if>
    <if test = "condition != null and condition != ''" >
      AND a.NAME LIKE #{condition}
    </if>
    ORDER BY a.update_time DESC, a.`name`
  </select>

  <select id="getElementByIds" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ElementDTO">
    select a.id, a.`name`, a.module_id, a.`by`, a.expression, b.`name` as moduleName
    from element a
    left join page_module b on a.module_id = b.id
    where a.id = #{eleId}
  </select>
</mapper>