<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.EngineMapper" >
  <select id="selectEngineByName" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Engine">
    select * from `engine` where project_id = #{projectId} and name = #{name}
  </select>

  <insert id="saveEngine" parameterType="com.lakinm.op.model.entity.Engine">
    INSERT INTO `engine`(`id`, `name`, `engine_type`, `secret`, `status`, `last_heartbeat_time`, `project_id`,
    `update_user`, `create_user`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{engineType}, #{secret}, #{status}, #{lastHeartbeatTime}, #{projectId}, #{updateUser},
    #{createUser}, #{createTime}, #{updateTime})
  </insert>

  <delete id="deleteEngineById" parameterType="java.lang.String">
    delete from `engine` where id = #{id}
  </delete>

  <select id="getEngineById" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.EngineDTO">
    select a.id, a.name, a.engine_type, a.secret, a.status, a.last_heartbeat_time, a.project_id,
    a.create_user, a.create_time, b.username as username
    from `engine` a
    LEFT JOIN `user` b
    on a.create_user = b.id where a.id = #{id}
  </select>

  <select id="selectEngineByProjectId" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Engine">
    select * from `engine` where project_id = #{projectId}
  </select>

  <select id="selectEngineList" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.EngineDTO">
    SELECT a.id, a.name, a.engine_type, a.status, a.project_id, a.create_time, a.update_time,
    a.create_user, a.update_user, b.username as username
    FROM `engine` a LEFT JOIN `user` b on a.create_user = b.id
    WHERE (a.project_id = #{projectId} or a.engine_type = 'system')
    <if test="condition != null and condition != ''">
      and a.name like #{condition}
    </if>
    ORDER BY a.engine_type desc, a.create_time desc
  </select>
</mapper>