<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.EnvironmentMapper" >
  <select id="findEnvByName" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Environment">
    select * from `environment` where project_id = #{projectId} and name = #{name}
  </select>

  <insert id="insertEnvironment" parameterType="com.lakinm.op.model.entity.Environment">
    INSERT INTO `environment`(`id`, `name`, `description`, `project_id`, `update_user`, `create_user`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{description}, #{projectId}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateEnvironmentById" parameterType="com.lakinm.op.model.entity.Environment">
    UPDATE `environment` SET `name` = #{name}, `description` = #{description}, `project_id` = #{projectId},
    `update_user` = #{updateUser}, `update_time` = #{updateTime}
    WHERE `id` = #{id}
  </update>

  <delete id="deleteEnvById" parameterType="java.lang.String">
    delete from `environment` where id = #{id}
  </delete>

  <select id="findEnvByProjectId" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Environment">
    select * from `environment` where project_id = #{projectId}
  </select>

  <select id="findEnvByCondition" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.EnvironmentDTO">
    SELECT a.id, a.`name`, a.description, a.project_id, a.update_user, a.create_user, a.create_time, a.update_time, b.username
    FROM `environment` a
    LEFT JOIN `user` b
    on a.create_user = b.id
    where project_id = #{projectId}
    <if test="condition != null and condition != ''">
      and a.name like #{condition}
    </if>
    ORDER BY a.update_time desc, a.name
  </select>
</mapper>