<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.FunctionMapper" >
  <select id="selectFunctionByName" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Function">
    select * from `function` where name = #{name} limit 1
  </select>

  <insert id="insertFunction" parameterType="com.lakinm.op.model.entity.Function">
    INSERT INTO `function`(id, name, `from`, param, code, expression, description, project_id, update_user, create_user, create_time, update_time)
    VALUES
    (#{id}, #{name}, #{from}, #{param}, #{code}, #{expression}, #{description}, #{projectId}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime});
  </insert>

  <update id="updateFunction" parameterType="com.lakinm.op.model.entity.Function">
    UPDATE `function` SET name = #{name}, `from` = #{from}, param = #{param}, code = #{code}, expression = #{expression},
    description = #{description}, project_id = #{projectId}, update_user = #{updateUser}, update_time = #{updateTime} WHERE id = #{id};
  </update>

  <delete id="deleteFunctionById" parameterType="java.lang.String">
    delete from `function` where id = #{functionId}
  </delete>

  <select id="findFunctionDetailById" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Function">
    select * from `function` where id = #{functionId}
  </select>

  <select id="getFunctionList" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.FunctionDTO">
    SELECT a.id, a.name, a.from, a.param, a.code, a.expression, a.description, a.project_id, a.create_user, a.update_time, b.username
    FROM `function` a
    LEFT JOIN user b
    on a.create_user = b.id
    where (a.project_id = #{projectId} or a.from = 'system')
    <if test="condition != null and condition != ''">
      and a.name like #{condition}
    </if>
    ORDER BY a.create_time desc, a.name
  </select>
</mapper>