<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.OperationMapper" >
  <select id="findOperationByName" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Operation">
    select * from `operation` where name = #{name} and project_id = #{projectId} limit 1
  </select>

  <insert id="insertOperation" parameterType="com.lakinm.op.model.entity.Operation">
    INSERT INTO `operation`(`id`, `name`, `type`, `from`, `element`, `data`, `code`, `description`, `project_id`, `update_user`, `create_user`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{type}, #{from}, #{element}, #{data}, #{code}, #{description}, #{projectId}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateOperation" parameterType="com.lakinm.op.model.entity.Operation">
    UPDATE `operation` SET `name` = #{name}, `type` = #{type}, `from` = #{from}, `element` = #{element}, `data` = #{data}, `code` = #{code},
    `description` = #{description}, `project_id` = #{projectId}, `update_user` = #{updateUser}, `update_time` = #{updateTime}
    WHERE `id` = #{id}
  </update>

  <delete id="deleteOperationById" parameterType="java.lang.String">
    delete from `operation` where id = #{id}
  </delete>

  <select id="findOperationById" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Operation">
    select * from `operation` where id = #{id}
  </select>

  <select id="findAllOperation" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.OperationDTO">
    SELECT a.id, a.name, a.type, a.from, a.element, a.data, a.code, a.description, a.project_id, a.create_user, a.update_time, b.username
    from `operation` a
    LEFT JOIN `user` b
    on a.create_user = b.id
    where (a.project_id = #{projectId} or a.from = 'system')
    <if test="condition != null and condition != ''">
      and a.name like #{condition}
    </if>
    ORDER BY a.create_time desc, a.name
  </select>
</mapper>