<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.PlanMapper" >
  <insert id="insertPlan" parameterType="com.lakinm.op.model.entity.Plan">
    INSERT INTO `plan`(`id`, `name`, `version_id`, `description`, `environment_id`, `retry`, `engine_id`,
    `project_id`, `update_user`, `create_user`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{versionId}, #{description}, #{environmentId}, #{retry}, #{engineId},
    #{projectId}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime})
  </insert>

  <update id="updatePlanById" parameterType="com.lakinm.op.model.entity.Plan">
    UPDATE `plan` SET `name` = #{name}, `version_id` = #{versionId}, `description` = #{description},
    `environment_id` = #{environmentId}, `retry` = #{retry}, `engine_id` = #{engineId}, `project_id` = #{projectId},
    `update_user` = #{updateUser}, `update_time` = #{updateTime} WHERE id = #{id}
  </update>

  <delete id="deletePlanById" parameterType="java.lang.String">
    delete from `plan` where id = #{id}
  </delete>

  <select id="selectPlanById" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.PlanDTO">
    SELECT a.id, a.`name`, a.version_id, a.description, a.environment_id, a.retry, a.engine_id, a.project_id, a.create_time,
    a.create_user, g.username, b.start_time, b.frequency, d.`name` AS version_name, f.`name` AS environment_name
    FROM
    `plan` a
    LEFT JOIN `plan_schedule` b ON a.id = b.plan_id
    LEFT JOIN `version` d ON a.version_id = d.id
    LEFT JOIN `environment` f ON a.environment_id = f.id
    LEFT JOIN `user` g ON a.create_user = g.id
    WHERE a.id = #{planId}
  </select>

  <select id="selectPlanListByCondition" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.PlanDTO">
    SELECT a.id, a.`name`, a.version_id, d.`name` AS version_name, a.description, a.environment_id, f.`name` AS environment_name,
    a.retry, a.engine_id, a.project_id, a.create_time, a.create_user, g.username, b.start_time, b.frequency, a.update_time
    FROM `plan` a
    LEFT JOIN `plan_schedule` b ON a.id = b.plan_id
    LEFT JOIN `version` d ON a.version_id = d.id
    LEFT JOIN `environment` f ON a.environment_id = f.id
    LEFT JOIN `user` g ON a.create_user = g.id
    WHERE a.project_id = #{projectId}
    <if test="condition != null and condition != ''">
      AND a.name like #{condition}
    </if>
  </select>
</mapper>