<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.PlanCollectionMapper" >
  <delete id="deleteCollectionByPlanId" parameterType="java.lang.String">
    delete from `plan_collection` where plan_id = #{id}
  </delete>

  <insert id="insertPlanCollection" parameterType="java.util.List">
    INSERT INTO `plan_collection`(`id`, `plan_id`, `collection_id`)
    VALUES
    <foreach collection="planCollections" separator="," item="item">
      (#{item.id}, #{item.planId}, #{item.collectionId})
    </foreach>
  </insert>

  <select id="selectCollectionByPlanId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.PlanCollectionDTO">
    select a.id, a.plan_id, a.collection_id, b.`name` as collection_name, b.version_id, c.`name` as collection_version
    from `plan_collection` a
    LEFT JOIN `collection` b on a.collection_id = b.id
    LEFT JOIN `version` c on b.version_id = c.id
    where a.plan_id = #{planId}
  </select>
</mapper>