<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.PlanScheduleMapper" >
  <insert id="insertSchedule" parameterType="com.lakinm.op.model.entity.PlanSchedule">
    INSERT INTO `plan_schedule`(`id`, `plan_id`, `start_time`, `frequency`, `next_run_time`)
    VALUES
    (#{id}, #{planId}, #{startTime}, #{frequency}, #{nextRunTime})
  </insert>

  <select id="selectScheduleByPlanId" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.PlanSchedule">
    SELECT * FROM `plan_schedule` WHERE plan_id = #{planId}
  </select>

  <update id="updateScheduleById" parameterType="com.lakinm.op.model.entity.PlanSchedule">
    UPDATE `plan_schedule` SET `plan_id` = #{planId}, `start_time` = #{startTime}, `frequency` = #{frequency},
    `next_run_time` = #{nextRunTime} WHERE `id` = #{id}
  </update>
</mapper>