<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ProjectMapper" >
  <select id="findUserProjectsByUserId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ProjectDTO">
    SELECT
    b.id, b.name, b.description, b.project_admin, b.update_time, b.status
    FROM
    `user_project` a
    LEFT JOIN project b ON a.project_id = b.id
    WHERE
    b.STATUS = "Normal"
    <if test="userId != 'system_admin_user'">
      AND a.user_id = #{userId}
    </if>
  </select>
</mapper>