<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ReportCollectionCaseApiMapper" >
  <select id="selectByReportCaseId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ReportCollectionCaseTransDTO">
    select status, api_id as transId, api_name as transName, api_path as content, exec_log, concat(during, 'ms') as during
    from report_collection_case_api
    where report_collection_case_id = #{caseId} order by case_api_index
  </select>

  <select id="selectByRccId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ReportCollectionCaseTransDTO">
    select id, `status`, api_id as transId, api_name as transName, api_path as content, exec_log, concat(during, 'ms') as during
    from report_collection_case_api
    where report_collection_case_id = #{rccId}
    order by case_api_index asc
  </select>
</mapper>