<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ReportStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.lakinm.op.model.entity.ReportStatistics" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="pass_count" property="passCount" jdbcType="INTEGER" />
    <result column="fail_count" property="failCount" jdbcType="INTEGER" />
    <result column="error_count" property="errorCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_id, total, pass_count, fail_count, error_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from report_statistics
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report_statistics
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lakinm.op.model.entity.ReportStatistics" >
    insert into report_statistics (id, report_id, total, 
      pass_count, fail_count, error_count
      )
    values (#{id,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, 
      #{passCount,jdbcType=INTEGER}, #{failCount,jdbcType=INTEGER}, #{errorCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lakinm.op.model.entity.ReportStatistics" >
    insert into report_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="passCount != null" >
        pass_count,
      </if>
      <if test="failCount != null" >
        fail_count,
      </if>
      <if test="errorCount != null" >
        error_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="passCount != null" >
        #{passCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null" >
        #{failCount,jdbcType=INTEGER},
      </if>
      <if test="errorCount != null" >
        #{errorCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lakinm.op.model.entity.ReportStatistics" >
    update report_statistics
    <set >
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="passCount != null" >
        pass_count = #{passCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null" >
        fail_count = #{failCount,jdbcType=INTEGER},
      </if>
      <if test="errorCount != null" >
        error_count = #{errorCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lakinm.op.model.entity.ReportStatistics" >
    update report_statistics
    set report_id = #{reportId,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      pass_count = #{passCount,jdbcType=INTEGER},
      fail_count = #{failCount,jdbcType=INTEGER},
      error_count = #{errorCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>