<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ReportCollectionMapper" >
  <select id="selectCsByReportId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ReportCollectionDTO">
    select * from `report_collection` where report_id = #{reportId}
  </select>
</mapper>