<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ReportCollectionCaseWebMapper" >
  <select id="selectByReportCaseId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ReportCollectionCaseTransDTO">
    select status, operation_id as transId, operation_name as transName, operation_element as content,
    exec_log, screen_shot as screenshotList
    from report_collection_case_web
    where report_collection_case_id = #{caseId} order by case_web_index
  </select>

  <select id="selectByRccId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ReportCollectionCaseTransDTO">
    select id, `status`, case_web_index, operation_id as transId, operation_name as transName, operation_element as content,
    exec_log, screen_shot as screenshot_list from report_collection_case_web
    WHERE report_collection_case_id = #{rccId} order by case_web_index asc
  </select>
</mapper>