<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ReportCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.lakinm.op.model.entity.ReportCollection" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="collection_id" property="collectionId" jdbcType="VARCHAR" />
    <result column="collection_name" property="collectionName" jdbcType="VARCHAR" />
    <result column="collection_version" property="collectionVersion" jdbcType="VARCHAR" />
    <result column="case_total" property="caseTotal" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_id, collection_id, collection_name, collection_version, case_total
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from report_collection
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report_collection
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lakinm.op.model.entity.ReportCollection" >
    insert into report_collection (id, report_id, collection_id, 
      collection_name, collection_version, case_total
      )
    values (#{id,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{collectionId,jdbcType=VARCHAR}, 
      #{collectionName,jdbcType=VARCHAR}, #{collectionVersion,jdbcType=VARCHAR}, #{caseTotal,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lakinm.op.model.entity.ReportCollection" >
    insert into report_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="collectionId != null" >
        collection_id,
      </if>
      <if test="collectionName != null" >
        collection_name,
      </if>
      <if test="collectionVersion != null" >
        collection_version,
      </if>
      <if test="caseTotal != null" >
        case_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="collectionId != null" >
        #{collectionId,jdbcType=VARCHAR},
      </if>
      <if test="collectionName != null" >
        #{collectionName,jdbcType=VARCHAR},
      </if>
      <if test="collectionVersion != null" >
        #{collectionVersion,jdbcType=VARCHAR},
      </if>
      <if test="caseTotal != null" >
        #{caseTotal,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lakinm.op.model.entity.ReportCollection" >
    update report_collection
    <set >
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="collectionId != null" >
        collection_id = #{collectionId,jdbcType=VARCHAR},
      </if>
      <if test="collectionName != null" >
        collection_name = #{collectionName,jdbcType=VARCHAR},
      </if>
      <if test="collectionVersion != null" >
        collection_version = #{collectionVersion,jdbcType=VARCHAR},
      </if>
      <if test="caseTotal != null" >
        case_total = #{caseTotal,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lakinm.op.model.entity.ReportCollection" >
    update report_collection
    set report_id = #{reportId,jdbcType=VARCHAR},
      collection_id = #{collectionId,jdbcType=VARCHAR},
      collection_name = #{collectionName,jdbcType=VARCHAR},
      collection_version = #{collectionVersion,jdbcType=VARCHAR},
      case_total = #{caseTotal,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>