<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.ReportMapper" >
  <select id="selectReportById" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ReportDTO">
    SELECT a.id, a.`name`, a.task_id, a.environment_id, a.source_type, a.source_id, a.start_time,
    a.end_time, a.`status`, a.project_id, a.create_time, a.update_time, a.create_user, a.update_user,
    b.`total`, b.`pass_count`, b.`fail_count`, b.`error_count`,
    CONCAT(round((b.`pass_count`/b.`total`)*100, 2), '%') as pass_rate,
    round(((b.`pass_count`+b.`fail_count`+b.`error_count`)/b.`total`)*100, 2) as progress
    FROM `report` a
    LEFT JOIN `report_statistics` b on a.id = b.report_id
    where a.project_id = #{projectId} and a.id = #{reportId}
  </select>

  <delete id="deleteReportById" parameterType="java.lang.String">
    delete from `report` where id = #{reportId}
  </delete>

  <select id="selectReports" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.ReportDTO">
    SELECT a.id, a.`name`, a.task_id, a.environment_id, a.source_type, a.source_id, a.start_time,
    a.end_time, a.`status`, a.project_id, a.create_time, a.update_time, a.create_user, a.update_user,
    b.`total`, b.`pass_count`, b.`fail_count`, b.`error_count`,
    CONCAT(round((b.`pass_count`/b.`total`)*100, 2), '%') as pass_rate,
    round(((b.`pass_count`+b.`fail_count`+b.`error_count`)/b.`total`)*100, 2) as progress
    FROM `report` a
    LEFT JOIN `report_statistics` b on a.id = b.report_id
    LEFT JOIN `user` c on a.create_user = c.id
    WHERE a.project_id = #{projectId}
    <if test="condition != null and condition != ''">
      a.`name` like #{condition}
    </if>
  </select>
</mapper>