<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.TaskMapper" >
    <select id="getTaskListByEngineId" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.TaskDTO">
        select t.id as id, t.name as name, t.type as type, t.status as status, t.engine_id as engine_id, t.project_id as project_id,
        t.create_time as create_time, t.update_time as update_time, t.create_user as create_user, t.update_user as update_user, u.username as username
        from task t left join user u on u.id = t.create_user
        where t.engine_id = #{engineId} and (t.status = 'prepared' or t.status = 'running')
        order by t.create_time
    </select>
</mapper>