<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.TestFileMapper" >
  <select id="selectFileList" parameterType="java.lang.String" resultType="com.lakinm.op.model.dto.TestFileDTO">
    select a.id, a.name, a.file_path, a.description, a.project_id, a.create_time, a.update_time,
    a.create_user, a.update_user, b.username as username
    from test_file a left join user b on b.id = a.create_user
    where a.project_id = #{projectId}
    <if test="condition != null and condition != ''">
      and a.name like #{condition} or a.id like #{condition}
    </if>
    order by a.create_time desc
  </select>

  <delete id="deleteTestFileById" parameterType="java.lang.String">
    delete from test_file where id = #{fileId}
  </delete>

  <insert id="insertFile" parameterType="com.lakinm.op.model.entity.TestFile">
    INSERT INTO test_file (`id`, `name`, `file_path`, `description`, `project_id`, `update_user`, `create_user`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{filePath}, #{description}, #{projectId}, #{updateUser}, #{createUser}, #{createTime}, #{updateTime});
  </insert>
</mapper>