<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.UserProjectMapper" >
  <insert id="insertUserInProject" parameterType="com.lakinm.op.model.entity.UserProject">
    INSERT INTO `user_project`(`id`, `user_id`, `project_id`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{userId}, #{projectId}, #{createTime}, #{updateTime})
  </insert>
</mapper>