<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakinm.op.model.mapper.VersionMapper" >
  <select id="selectVersionByName" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Version">
    SELECT * FROM `version` where name = #{name}
  </select>

  <insert id="insertVersion" parameterType="com.lakinm.op.model.entity.Version">
    INSERT INTO `version`(`id`, `name`, `description`, `project_id`, `create_time`, `update_time`)
    VALUES
    (#{id}, #{name}, #{description}, #{projectId}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateVersion" parameterType="com.lakinm.op.model.entity.Version">
    UPDATE `version` SET `name` = #{name}, `description` = #{description}, `project_id` = #{projectId},
    `create_time` = #{createTime}, `update_time` = #{updateTime}
    WHERE `id` = #{id}
  </update>

  <delete id="deleteVersionById" parameterType="java.lang.String">
    DELETE FROM `version` where id = #{versionId}
  </delete>

  <select id="selectVersionList" parameterType="java.lang.String" resultType="com.lakinm.op.model.entity.Version">
    SELECT * FROM `version`
    WHERE project_id = #{projectId}
    <if test="condition != null and condition != ''">
      and name like #{condition}
    </if>
  </select>
</mapper>